module.exports = {
  chains: [
    {% for chain in chains %}
    {
      httpEndpoint: "{{ chain.httpEndpoint }}",
      chainId: "{{ chain.chainId }}",
      contract: "{{ chain.contract }}",
      nodeAccount: "{{ chain.nodeAccount }}",
      dbName: "{{ chain.dbName }}",
      watchdogPermission: {
        permission: "{{ chain.watchdogPermissionName }}",
        key: "{{ chain.watchdogPrivateKey }}",
      },
    },
    {% endfor %}    
  ],
  mongoUrl: 'mongodb://127.0.0.1:27017',
  kmsPort: 3000,
  brokerPort: 4000,
  backend: 'demux',
  encryptionServiceUrl: 'http://127.0.0.1:6000',
  ipfsConfig: {
    host: 'localhost',
    port: '5001',
    protocol: 'http'
  },
  logLevel: 'info',
}
